<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" (click)="navigateTo('home')"><b>Satish & Indira Core Team</b></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a [className]="!routeName('home') ? 'nav-item nav-link' : 'nav-item nav-link active'"
        (click)="navigateTo('home')">Home</a>
      <a [className]="!routeName('coremembers') ? 'nav-item nav-link' : 'nav-item nav-link active'"
        (click)="navigateTo('coremembers')">Core Members</a>
      <a [className]="!routeName('allmeetings') ? 'nav-item nav-link' : 'nav-item nav-link active'"
        (click)="navigateTo('allmeetings')">Meetings</a>
      <a [className]="!routeName('meetingattendees') ? 'nav-item nav-link' : 'nav-item nav-link active'"
        (click)="navigateTo('meetingattendees')">Meeting Attendees</a>
      <a [className]="!routeName('newmeeting') ? 'nav-item nav-link' : 'nav-item nav-link active'"
        (click)="navigateTo('newmeeting')">New Meeting</a>
      <a [className]="!routeName('addcoremember') ? 'nav-item nav-link' : 'nav-item nav-link active'"
        (click)="navigateTo('addcoremember')">New Core Member</a>
      <a *ngIf="checkLocalStorage()" class="nav-item nav-link" (click)="logout()">Log Out</a>
    </div>
  </div>
</nav>
