<app-abo-navbar></app-abo-navbar>

<br />
<h4 align="center">Welcome to the Team of <br />
  <b>Indira & Satish Murthy</b>
</h4>
<div class="main" align="center">

  <img src="../../assets/logos/Amway-logo-love.png" alt="amway-image" height="100px">
  <img src="../../assets/images/satish-indira.jpeg" alt="our-image" height="250px">
  <br />
  <br />
  <br />

  <p>
    <label>
      <input type="text" placeholder=" " [(ngModel)]="link">
      <p>Enter the Meeting Link</p>
    </label>
  </p>
  <button class="btn-primary" (click)="attend()">Attend Meeting</button>

</div>
